.bannerWrap {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.innerWrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: table;
  height: 100%;
}
.bannerText {
  max-width: 1140px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  min-height: 100vh;
}
.bannerText h4 {
  font-size: 22px;
  letter-spacing: 0;
  padding: 10px 0 30px;
  color: #040c2c;
  font-family: "pretendard",sans-serif;
}

.bannerText h4 span {
  position: absolute;
  font-weight: 700;
  transform: translate(-60%, 150%);
  display: inline-block;
}
.typeCss,
.typeCss2 {
  position: relative;
  display: inline-block;
}
.typeCss::after,
.typeCss2::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 3px;
  height: 60%;
  display: block;
  transform: translateY(-50%);
  background-color: #333;
  animation: typing 1s steps(2, end) infinite;
}
.bannerName h2 {
  font-family: "Montserrat", sans-serif;
  color: #040c2c;
  font-size: 75px;
  margin: 10px 0;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  margin-bottom: 20px;
  animation-name: fadeInUp;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  line-height: 1.2;
}
.bannerDesc {
  text-shadow: none;
  color: #040c2c;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 2px;
  line-height: 29px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  animation-name: fadeInUp;
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-fill-mode: both;
}
.iconList {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.iconList li {
  margin: 0 3px;
  box-sizing: border-box;
}
.iconList li a {
  background: #040c2c;
  font-size: 14px;
  width: 42px;
  height: 42px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s linear;
  text-align: center;
  color: #fff;
}
.iconList li a:hover {
  color: #fff;
  box-shadow: 0 2px 35px 0 rgba(4, 12, 44, 0.5);
  transform: translateY(-4px);
}

.iconList span {
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5em;
}
.faGithub {
  width: 25px;
  height: 25px;
}

.circleOne {
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0.6;
  animation: spins 1.5s linear infinite;
  z-index: 10;
}
.setting {
  animation: spins 1.5s linear infinite;
}

/* keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes spins {
  0% {
    -webkit-transform: translateY(20px);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: rotate(359deg);
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
