.ContactMeContainer {
  padding: 120px 0;
  line-height: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #797979;
  font-weight: 400;
 
}
.Inner {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.ContactInfoWrap {
  width: 100%;
}

.ContactInfo {
  font: 700 35px/40px "Montserrat", sans-serif;
  color: #040c2c;
  text-transform: capitalize;
  padding-bottom: 24px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: block;
  padding-right: 60px;
  margin-top: 0;
}
.nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: justify;
}
.nav svg {
  margin-right: 20px;
}
.nav li p {
  color: #797979;
  font: 400 16px/28px "Montserrat", sans-serif;
  display: flex;
  
}
.nav li p span {
  margin-left: 20px;
  font-size: 1em;
}

/*----------resonsive---------------*/

@media screen and (max-width:1440px) {
  
  .Inner{
    width: 80%;
    margin: 0 auto;
  }
  .ContactInfo {
    text-align: center;
  }
  .nav li{
   
  }
}