.Container {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 110px 0 90px;
  padding-bottom: 0;
}
.PortfolioContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.portfolioLeftbox {
  width: 50%;
  height: 100%;
}
.portfolioRightbox {
  width: 50%;
  height: 100%;
  position: relative;
}
.portfolioTextbox {
  border-radius: 25px;
  width: 100%;
  height: 500px;
}
.PortfolioInner {
  width: 1140px;
  height: 80%;
  margin: 0 auto;
  display: flex;
  border-radius: 25px;
}

.portfolioTitlebox {
  width: 100%;
  text-align: left;
  display: table;
}
.portfolioKeyword {
  position: relative;
  top: -50px;
  left: 110px;
  font-weight: 500;
  font-size: 20px;
  color: #999;
}
.portfolioTitlebox h2 {
  font-family: "pretendard", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  padding: 110px 0 90px;
  padding-top: 0;
  margin-left: 12%;
  width: 100%;
}
.portfolioTitlebox h2 span {
  margin-right: 20px;
  margin-left: 20px;
}

.PortfolioTextul {
  display: block;
  margin: 0 10%;
}

.PortfolioTextul li {
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  word-break: keep-all;
}
.portfolioImgbox {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.Frame {
  background: url("../img/Frame.png") no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.imgGif {
  width: 70% !important;
  height: 80% !important;
  animation: none !important;
}
.portfolioImgbox img {
  width: 100%;
}
.portfolioImgbox img:hover {
  animation: downslide 5s ease-in-out infinite;
}
.portfolioTitle {
  text-align: center;
}
.portfolioTitle span {
  width: 80px;
  height: 2px;
  margin: 25px auto 0;
  display: inline-block;
  background: #bcbcbc;
}
.portfolioTitle h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #040c2c;
}
.portfolioTitle p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
.linkUl {
  display: flex;
  margin: 0 10%;
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  word-break: keep-all;
  position: absolute;
  bottom: 0;
}

.LinkBtn {
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
  color: #040c2c;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #040c2c;
  padding: 5px 0px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  transform: none !important;
}
.LinkBtn:hover {
  color: #fff;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: #040c2c;
}
.LinkBtn:active {
  color: #fff;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: #040c2c;
}

.LinkBtn2 {
  opacity: 1;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #040c2c;
  padding: 5px 0px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  min-width: 140px;
  text-align: center;
  display: inline-block;
}
.LinkBtn2:hover {
  color: #fff;
  background-color: #040c2c;
  outline: none;
  box-shadow: none;
}
.LinkBtn2:active {
  color: #fff;
  background-color: #040c2c;
  outline: none;
  box-shadow: none;
}
.LinkBtn22 {
  position: absolute;
  top: 50px;
}
.qrCodeImg {
  width: 100px;
  height: 100px;
}
.linkUl2{
  display: flex;
  margin: 0 10%;
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  word-break: keep-all;
  position: absolute;
  bottom: 0;
}



@keyframes downslide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40%);
  }
}

/*----------resonsive---------------*/

@media screen and (max-width: 1440px) {
  .PortfolioInner {
    flex-direction: column;
    top: -85px;
  }
  .portfolioLeftbox {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .portfolioRightbox {
    width: 100%;
    height: 50%;
    margin: 0 auto;
  }
  .portfolioTitlebox h2 {
    padding: 1rem 0 1rem;
    font-size: 2rem;
  }
  .portfolioImgbox {
    width: 100%;
    text-align: center;
    top: -75px;
    }
  .PortfolioTextul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-left: 9rem;
  }
  .PortfolioTextul li {
    font-size: 16px;
    line-height: 30px;
    width: 33.333%;
  }
  .portfolioKeyword {
    position: relative;
    top: -15px;
    left: 150px;
    font-weight: 500;
    font-size: 20px;
  }
  .linkUl {
    position: absolute;
    left: 500px;
    
  }
  .linkUl2 {
    position: absolute;
    left: 500px;
    top:70%;
    
  }
  .portfolioTitle {
   position: relative;
   top: -50px;
   
  }
  .imgGif {
    width: 12% !important;
    height: 80% !important;
    animation: none !important;
  }
  .linkUl2 li:last-child{
    margin: 0 !important;
  }
 
  @keyframes downslide {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-80%);
    }
  }
}
